spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/webstore
    username: webstoreuser
    password: dbpass
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate.format_sql: true
      hibernate.use_sql_comments: true